target/classes/common-utils.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

	<spring:beans>
		<spring:bean class="edu.ucsc.common_utils.FileHandler" name="FileHandler">
		</spring:bean>
	</spring:beans>

    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="common-utilsFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/common-utils/v1.0/normalizeFilename" doc:name="HTTP"/>
        <set-session-variable variableName="filename" value="#[message.inboundProperties.'http.query.params'.filename]" doc:name="Session Variable"/>
        <invoke object-ref="FileHandler" method="normalizeFilename" doc:name="FileHandler" methodArguments="#[sessionVars.filename]"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
